/* 初始化 */
*{
	padding: 0;
    margin: 0;
    text-decoration: none;
}

ul,
li{
    list-style:none;
}

body{
    height: 800px;
	background: #F7F7F7;
}

.contenter{
	margin: 0 auto;
	padding: 0;
    width: 1600px;
}


/* 清理浮动 */
.clearfixed::after{
    content: "";
    display: table;
    clear: both;
}


/* 顶端导航栏 */
.header{
    background: #fff;
    height: 57px;
	position: fixed;
	top: 0px;/*关键点*/
    box-shadow: 0 0 10px 0 #d5d5d5;
    z-index:99998;
}

.header-logo{
    float: left;
    position: absolute;
    left: 178px;
}

.header-logo a {
    display: block;
    height: 57px;
    width: 160px;
    background: #FF5A00;
    text-align: center;
}

.header-logo a img {
    width:auto; 
    height:auto; 
    max-width:80%; 
    max-height:75%;
    margin-top: 7px;
}


.header-nav{
    float: left;
    position: absolute;
    left: 365px;
    width: 960px;
    height: 52px;
    line-height: 52px;
}

.header-nav ul{
    margin: 0px;
}

.header-nav > ul > li{
    background: #fff;
    float: left;
    width: 90px;
    margin: 0 3px;
    text-align: center;
}

.header-nav a{
    color: #525252;
    font-size: 15px;
    font-weight: 400;
}

.header-nav a:hover{
    color: #FF5A00;
}

.header-nav img{
    margin-left: -15px;
    padding-right: 20px;
}


.header-search{
    float: left;
    position: absolute;
    left: 1250px;
    margin-top: 12px;
}

.header-login{
    float: left;
    position: absolute;
    left: 1300px;
    margin-top: 8px;
}

.header-login a{
	display: block;
    width: 30px;
    height: 30px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 2px 2px 18px rgb(229,229,229);
    overflow: hidden;
}

.header-login a img{
    width: 30px;
    height: 30px;
}


/* 二级菜单栏 */
/* 文章滑动过渡（css3） */
.article{
    position: relative;
}

.article-list{
    position: absolute;
    left: -250px;
    top: 58px;
    background: #fff;
    width: 600px;
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
}

.article-list li{
    float: left;
    width: 120px;
    margin: 8px 8px;
    padding: 10px 5px;
    border: 1px solid #efefef;
}
.artcle-list a{
    display: block;
}

.article:hover ul{
    height: 180px;
}

.article-list li:hover{
    background: #FF5A00;
}

.article-list li:hover a{
    color: #fff;
}

/* 用JS写二级菜单 */
.item{
    width: 90px;
    margin-top: 5px;
    display: none;
    box-shadow:0 1px 1px 1px #efefef;
}

.item-list{
    padding: 0px;
    z-index:99999;
}

.item-list li{
    float: left;
    width: 90px;
    padding: 0;
}
.item-list a{
    color: #525252;
    font-size: 14px;
    border: none;
    height: 14px;
    line-height: 14px;
    text-align: center;
}

.item-list li:hover{
    background: #FF5A00;
}

.item-list li:hover a{
    color:#fff;
}

/* 控制显示二级菜单栏 */
.show .item{
    display: block;
}





/* 正中部分 */
/* 滚轮图 */
.main{
    width: 1500px;
    height: 460px;
}

.main-roll{
    width: 600px;
    position: absolute;
    left: 178px;
    top: 110px;
}

.main-roll img{
    width: 600px;
    height: 340px;
}

/* 田字图 */
.main-immove{
    position: absolute;
    left: 790px;
    top: 110px;
    width: 600px;
    height: 340px;
}

.main-immove a{
    display: block;
    float: left;
    width: 265px;
    height: 163px;
    margin: 0 10px 10px 0;
}

.main-immove a img{
    width: 265px;
    height: 163px;
}

/* 底部 */
/* 左边那一块 */
.bottom{
    position: relative;
    top:10px;
    height: 170px;
}

.bottom-left{
    position: absolute;/*1*/
    width:336px;
    height: 170px;
    left: 178px;
}

.bottom-left ul{
    margin:0;
    padding: 0;
}

.bottom-left li{
    float: left;
    width: 110px;
    height: 85px;
    position: relative;
    border: 1px solid #efefef;
}

.bottom-left li:hover{
    background: #FF5A00;
}

.bottom-left li:hover a{
    color:#fff;
}/*2*/

.bottom-left a{
    display: block;
    width: 110px;
    height: 30px;
    position:absolute;
    bottom: 0px;
    color: black;
    text-align: center;
}

/* 右边三块 */
.bottom-right{
    position: absolute;
    left: 525px;
    width: 900px;
    height: 170px;
}


.box1,.box2,.box3{
    background: #fff;
    float: left;
    width: 260px;
    height: 170px;
    margin-right: 10px;
    border: 1px solid #efefef;
}

.box3 .banner{
    border: 1px solid #efefef;
}

.banner{
    padding-left: 5px;
    height: 45px;
    line-height: 45px;
    text-align:left;
    overflow: hidden;
}

.banner img{
    max-width: 30%;
    max-height: 30%;
}

.banner strong a{
    color: #525252;
}

.banner strong a:hover{
    color:#FF5A00;
}

.banner span{
    color: #d5d5d5;
    font-size: 12px;
}



.guild{
    height:100px;
    margin-top: 10px; 
}

.guild a{
    display: block;
    float: left;
    width: 115px;
    margin:0 5px;
}

.guild img{
    width: 115px;
    height: 70px;
}

.guild span{
    color: #525252;
    font-size: 12px;
}

.guild span:hover{
    color: #FF5A00;
}


.list ul{
    margin-top: 15px;
    padding: 0 20px;
    font-size:13px;
}

.list li{
    width: 230px;
    margin: 4px 0;
    padding: 2px 0;
    list-style:disc;
    color:#C4C4C4;
}

.list a{
    color: #525252;
}

.list a:hover{
    color:#FF5A00;
}

.list strong{
    overflow: hidden;
}

.list span{
    position: relative;
    float: right;
    font-size: 12px;
    display: inline-block;
    padding: 0 10px;
    line-height: 20px;
    background: #fff5e3;
    color: #b67d5e;
}


