/* 响应式布局的css */
@media screen and (min-width: 1200px){
    .header,
    .main,
    .bottom{
        width: 100%;
    }
}



@media screen and (min-width: 600px) and (max-width: 1200px) {

}


@media screen and (max-width:600px) {
    .main,
    .main-box{
        width: 700px;
        height: 810px;
    }
    
    .main-roll,
    .main-immove{
        float: left;
    }
    .main-immove{
        left: 12px;
        top: 460px;
    }
}